.main_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
    margin-left: 5rem;
  } 
  
  .profile_container{
    display: flex;
    flex-direction: column;
  
  }
  
  .first {
    display: flex;
    flex-direction: row;
      margin-top: 7rem;
      margin-left: 3rem;
      gap: 5rem;
  
  }
  
  .profile_list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
  }
  
  .profile__button{
    background-color: rgba(4, 186, 253, 0.886);
    border-radius: 0.5rem;
    color: white;
    border: none;
    height: 2rem;
    width: 5rem;
  }
  
  .profile_nick{
  font-size: 2rem;
  }
  
  .profile_text, .profile_info, .profile_name{
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  
  .second {
    display: flex;
    flex-direction: row;
    gap: 1rem; 
    margin-top: 2rem;
  }
  
  .mini_img{
    display: flex;
      width: 60px; 
      height: auto;
      margin-top: 0.5rem;
      gap: 4rem;
      margin-left: 2rem;
  }
  
  .grid_container{
  margin-top: 3rem;
  }
  
  .img_nav {
    display: flex;  
    gap: 3.5rem;
    margin-left: 10rem;
    font-size: small;
    margin-top: 1rem;
  }
  
  .img_nav div {
    display: flex;  
    align-items: center;
    gap: 1rem;
  }
  
  .img_nav img {
    width: 1rem;  
    height: auto; 
  }
  
  .grid_img img {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    border: solid 0.5rem white;
  
  }
  .grid_img{
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    grid-template-rows: auto;
    margin-top: 3rem;
    gap: 1rem;
  }
  